@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 0.875rem;
  font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

a {
  color: #000;
  font-size: 0.875em;
  text-decoration: none;
}

img {
  height: 215px;
  width: 215px;
}

li {
  list-style: none;
}

section {
  max-width: 1150px;
  text-align: center;
}

.wrapper {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.section-title {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 30px;
}

span {
  font-size: 10px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: space-between;
}

#header .inner {
  align-items: center;
  display: flex;
}

#header .inner h1 {
  font-size: 1.5rem;
  padding: 24px 17px;
  line-height: 1;
}

#header .inner h1 ::after {
  content: 'PROFESSIONALAGENCY';
  display: block;
  font-size: 10px;
  letter-spacing: 2.5px;
  margin-top: .5rem;
}

#header .inner nav {
  margin-left: auto;
}

#header .inner nav ul {
  align-items: center;
  display: flex;
}

#header .inner nav ul li {
  border-bottom: 2px solid #c4c4c4;
  display: inline-block;
  font-weight: bold;
  margin-right: 6px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  width: 115px;
}

#header .inner nav ul li:last-child {
  margin-right: 10px;
}

#header .inner nav ul li ::after {
  background: #333;
  bottom: -2px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
  width: 100%;
}

#header .inner nav ul li:hover ::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

#header .inner nav ul li ::before {
  display: block;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

#header .inner nav ul li:nth-child(1) ::after {
  content: 'NEWS';
}

#header .inner nav ul li:nth-child(2) ::after {
  content: 'STARS';
}

#header .inner nav ul li:nth-child(3) ::after {
  content: 'AUDITION';
}

#header .inner nav ul li:nth-child(4) ::after {
  content: 'COMPANY';
}

#header .contact {
  background-color: #0E3B6A;
}

#header .contact a {
  color: #fff;
  display: block;
  font-weight: bold;
  height: 90px;
  text-align: center;
  transform: translateY(30%);
  width: 140px;
}

#header .contact ::after {
  content: 'CONTACT';
  display: block;
  font-size: 10px;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  background-image: url(/assets/img/top_hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-bottom: 50px;
  width: 100%;
}

#mainvisual span {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  display: block;
  height: 500px;
  margin-left: auto;
  width: 55%;
}

/*-------------------------------------------
News&Topics
-------------------------------------------*/
#news_topics {
  margin-bottom: 50px;
}

#news_topics .topic {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
}

#news_topics .topic .list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#news_topics .topic .list li {
  background-color: #F37777;
  height: 255px;
  line-height: 280px;
  margin-right: 20px;
  width: 370px;
}

#news_topics .topic .list li:last-child {
  margin-right: 0;
}

#news_topics .topic .list li a {
  display: block;
}

#news_topics .container {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#news_topics .container .news {
  background-color: #5CC2E2;
  height: 620px;
  line-height: 620px;
  margin-right: 20px;
  width: 860px;
}

#news_topics .container .sns {
  background-color: #7BF580;
  height: 585px;
  line-height: 585px;
  width: 270px;
}

/*-------------------------------------------
STARS
-------------------------------------------*/
#stars {
  margin-bottom: 80px;
}

#stars .stars_pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#stars .stars_pic a {
  background-color: #000;
  display: block;
  height: 215px;
  width: 215px;
}

#stars .stars_pic a img {
  transition: all .5s;
}

#stars .stars_pic a img:hover {
  transition: all .5s;
  opacity: .5;
}
/*# sourceMappingURL=style.css.map */